Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document-oriented NoSQL database used for high volume data storage.

Instead of using tables and rows as in the traditional relational databases, MongoDB makes use of collections and documents.

Documents consist of key-value pairs which are the basic unit of data in MongoDB. Collections contain sets of documents and function which is the equivalent of relational database tables.

.


A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 

Non-relational databases are really helpful when there are a lot of unknowns about exactly what data you need to store, or when there is a large volume of data that might hold different attributes but that you still need to compare side-by-side.

.


NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database

.

Q2. State and Explain the features of MongoDB.

MongoDB is a document database. It stores data in a type of JSON format called BSON.

Features of MongoDB:

1. Support ad hoc queries

In MongoDB, you can search by field, range query and it also supports regular expression searches

2. Indexing

You can index any field in a document.

3. Replication

MongoDB supports Master Slave replication.

A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data

MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing

It has an automatic load balancing configuration because of data placed in shards.

6. Provides high performance.

.


Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://saurabhsuman20nov:Saurav0610@cluster0.orsnjvb.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['Assignment']
colls = db["Data Science Assignment"]
data={"ass1":"oops",
      "ass2":"exception handling",
      "ass3":"database managemnet"
}
colls.insert_one(data)

In [4]:
for i in colls.find():
    print(i)

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'), 'ass1': 'oops', 'ass2': 'exception handling', 'ass3': 'database managemnet'}

.

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
#  inserting one data 

data1={"top1":"Abhishek",
      "top2":"Sudhanshu",
      "top3":"Dinabandhu",
      "top4":"Chandu"
}

colls.insert_one(data1)

In [9]:
# use of find () 

for i in colls.find():
    print(i)

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'), 'ass1': 'oops', 'ass2': 'exception handling', 'ass3': 'database managemnet'}
{'_id': ObjectId('63f1d0257817a4bb8705d9d2'), 'top1': 'Abhishek', 'top2': 'Sudhanshu', 'top3': 'Dinabandhu', 'top4': 'Chandu'}

In [21]:
#  use of find_one()

colls.find_one()

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'),
 'ass1': 'oops',
 'ass2': 'exception handling',
 'ass3': 'database managemnet'}

In [12]:
#   inserting many datas:

list_of_records = [
    {'company': 'pwskill',
     'product': 'Data Science',
     'duration': '6 month'},
    
    {'company': 'pwskill',
     'product': 'Web Development',
     'duration': '6 month'},
    
    {'company': 'pwskill',
     'product': 'Java Design',
     'duration': '6 month'}
]

colls.insert_many(list_of_records)

In [15]:
#  use of find()

for i in colls.find():
    print(i)

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'), 'ass1': 'oops', 'ass2': 'exception handling', 'ass3': 'database managemnet'}
{'_id': ObjectId('63f1d0257817a4bb8705d9d2'), 'top1': 'Abhishek', 'top2': 'Sudhanshu', 'top3': 'Dinabandhu', 'top4': 'Chandu'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d3'), 'company': 'pwskill', 'product': 'Data Science', 'duration': '6 month'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d4'), 'company': 'pwskill', 'product': 'Web Development', 'duration': '6 month'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d5'), 'company': 'pwskill', 'product': 'Java Design', 'duration': '6 month'}

In [22]:
#  use of find_one

colls.find_one()

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'),
 'ass1': 'oops',
 'ass2': 'exception handling',
 'ass3': 'database managemnet'}

.

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [25]:
# to  get all the details 

for i in colls.find():
    print(i)

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'), 'ass1': 'oops', 'ass2': 'exception handling', 'ass3': 'database managemnet'}
{'_id': ObjectId('63f1d0257817a4bb8705d9d2'), 'top1': 'Abhishek', 'top2': 'Sudhanshu', 'top3': 'Dinabandhu', 'top4': 'Chandu'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d3'), 'company': 'pwskill', 'product': 'Data Science', 'duration': '6 month'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d4'), 'company': 'pwskill', 'product': 'Web Development', 'duration': '6 month'}
{'_id': ObjectId('63f1d2617817a4bb8705d9d5'), 'company': 'pwskill', 'product': 'Java Design', 'duration': '6 month'}

In [27]:
# query for specific target

for i in colls.find({'ass1': 'oops'}):
    print(i)

{'_id': ObjectId('63f1cf317817a4bb8705d9d1'), 'ass1': 'oops', 'ass2': 'exception handling', 'ass3': 'database managemnet'}

.


Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

In [102]:
db = client['Student']
c = db["student"]

In [103]:
records = [
    {'name': 'Shubham',
     'age': 21},
    
    {'name': 'Ramesh',
     'age': 24},
    
    {'name': 'Anirudh',
     'age': 23},
    
    {'name': 'Bomkesh',
     'age': 19},
   
    {'name': 'Shahrukh',
     'age': 25},
    
    {'name': 'Bahubali',
     'age': 27},
    
    {'name': 'Sudhandhu',
     'age': 18}
    
    
]

c.insert_many(records)

In [105]:
for i in c.find():
    print(i)

{'_id': ObjectId('63f1df927817a4bb8705d9e4'), 'name': 'Shubham', 'age': 21}
{'_id': ObjectId('63f1df927817a4bb8705d9e5'), 'name': 'Ramesh', 'age': 24}
{'_id': ObjectId('63f1df927817a4bb8705d9e6'), 'name': 'Anirudh', 'age': 23}
{'_id': ObjectId('63f1df927817a4bb8705d9e7'), 'name': 'Bomkesh', 'age': 19}
{'_id': ObjectId('63f1df927817a4bb8705d9e8'), 'name': 'Shahrukh', 'age': 25}
{'_id': ObjectId('63f1df927817a4bb8705d9e9'), 'name': 'Bahubali', 'age': 27}
{'_id': ObjectId('63f1df927817a4bb8705d9ea'), 'name': 'Sudhandhu', 'age': 18}

In [106]:
#  using sort to sort by age

for i in c.find().sort('age'):
    print(i)

{'_id': ObjectId('63f1df927817a4bb8705d9ea'), 'name': 'Sudhandhu', 'age': 18}
{'_id': ObjectId('63f1df927817a4bb8705d9e7'), 'name': 'Bomkesh', 'age': 19}
{'_id': ObjectId('63f1df927817a4bb8705d9e4'), 'name': 'Shubham', 'age': 21}
{'_id': ObjectId('63f1df927817a4bb8705d9e6'), 'name': 'Anirudh', 'age': 23}
{'_id': ObjectId('63f1df927817a4bb8705d9e5'), 'name': 'Ramesh', 'age': 24}
{'_id': ObjectId('63f1df927817a4bb8705d9e8'), 'name': 'Shahrukh', 'age': 25}
{'_id': ObjectId('63f1df927817a4bb8705d9e9'), 'name': 'Bahubali', 'age': 27}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

 delete_one():   

        single document can be deleted by the method delete_one()

In [9]:
colls.delete_one({"ass1":"oops"})

It has deleted single document as passed in argument

The deleteMany():

The deleteMany() method allows you to remove multiple documents from a specific collection of MongoDB databases. It can be used to remove all documents as well or one can specify the condition to delete documents using the deleteMany() method.

In [10]:
colls.delete_many({'company': 'pwskill'})

The drop() Method:

MongoDB's db.collection.drop() is used to drop a collection from the database.

It deletes the collection from database

In [11]:
colls.drop()

In [19]:
for db in client.list_databases():
    print(db)

{'name': 'Student', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'admission', 'sizeOnDisk': 73728, 'empty': False}
{'name': 'pwskills', 'sizeOnDisk': 73728, 'empty': False}
{'name': 'admin', 'sizeOnDisk': 344064, 'empty': False}
{'name': 'local', 'sizeOnDisk': 2765148160, 'empty': False}

It has deleted colls collection (i.e Assignment) from database